/* 2nd container */
.second {
    display: flex;
    justify-content: space-around;
    background-color: rgb(245, 250, 245);
    /* flex-wrap: wrap; */
}
.saylani-logo{
    /* display: inline-block; */
    margin: 5px 0px 5px 0px;
}
#nav .fa {
    background-color: transparent;
    color: black;
}
#nav ul .fa {
    float: right;
    font-size: 15px;
}
#nav li a:hover .fa {
    color: white;
} 
.home {
    /* display: inline-block; */
    border-radius: 30px;
    color: white;
    display:block;
    /* text-decoration:none; */
    padding: 0;
    line-height:35px; /* this is the hieght of the menu items */
    padding-left: 10px; /*this is the width of the menu items */
    padding-right: 10px;
    background-color: #005dab;
}

#nav {
    list-style:none inside;
    margin:0;
    padding:0;
    /* text-align:center; */;
}
#nav li {
    display:block;
    position:relative;
    float:left;
}    
#nav ul li {    
    background:white; /*sublists menu background color */
}
.nav >li, .nav-a {
    border-radius: 30px;
}

#nav .nav {
    /* text-align: center; */
    margin-top: 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
}
#nav li .nav-a{
    display:block;
    text-decoration:none;
    padding:0;
    line-height:35px; /* this is the hieght of the menu items */
    padding-left: 10px; /*this is the width of the menu items */
    padding-right: 10px;
    /* border-radius: 20px; */
    color:black;
}
#nav li li a {
    display:block;
    padding:0;
    text-decoration:none;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px; /*this is the width of the menu items */
    line-height:35px; /* this is the hieght of the menu items */
    color: grey; /* list item font color */
    font-size:12px;
}
#nav li:hover {
    background:#005dab;
}
#nav li:hover >a {
    color: white;
}
#nav li:hover >a .fa {
    color: white;
}
/* #nav li li a {font-size:80%;} smaller font size for sub menu items */
#nav li a:hover {
    /* border-radius: 0px; */
    background:#005dab;
    color: white;
    text-decoration: none;
} 
    
#nav ul a:hover {
    padding-left: 20px;
    transition: 0.5s;
        /* padding-top: -5px; */
}
#nav ul {
    font-size: 12px;
    font-weight: 500;
    position:absolute;
    padding:0;
    left:0;
    display:none; /* hides sublists */
}
#nav li:hover ul ul {display:none;} /* hides sub-sublists */
#nav li:hover ul {
    display:block; /* shows sublist on hover */
    padding-top: 16px;  
}    
#nav li li:hover ul ul {display: none;}
#nav li li li:hover ul{display: block;}
#nav li li:hover ul {
    display:block; /* shows sub-sublist on hover */
    margin-left:200px;/* this should be the same width as the parent list item */
    margin-top:-51px;   /*aligns top of sub menu with top of list item */
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    border: 1px solid rgb(241, 236, 236);
  }
